body {
  font-family: open_sansregular;
}

.wrapper, .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
}

.box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #5c6672;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

#main {
  background-color: #eeeeee;
  padding: 0 0 0 0;
  height: 100%;
  overflow-x: hidden;
}
.row .content-container p {
  margin: 25px 25px 25px 25px;
}

.notification-bar {

  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
  height: 80px;
}

.magic-button {
  float: left;
  margin: 28px 0 0 25px;
}

.magic-button .icon-bar {
  display: block;
  margin: 3px 0 0 0;
  width: 18px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.left-side-container {
  float: left;
  margin: 0 0 0 25px;
}

.right-side-container {
  float: right;
  margin: 0 25px 0 0;
}

.right-side-container .wiadomosci-container {
  float: right;
  height: 80px;
  padding: 0 15px 0 15px;
}

.right-side-container .wiadomosci-container:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

.right-side-container .wiadomosci-container .wiadomosci-text {
  color: #b5b5b5;
  float: right;
  margin: 28px 0 0 0;
}

.right-side-container .wiadomosci-container .wiadomosci-ico {
  color: #b5b5b5;
  float: right;
  font-size: 23px;
  margin: 26px 10px 0 0;
}

.right-side-container .powiadomienia-container {
  float: right;
  height: 80px;
  padding: 0 0 0 15px;
}

.right-side-container .powiadomienia-container:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

.right-side-container .powiadomienia-container .powiadomienia-text {
  color: #b5b5b5;
  float: right;
  margin: 28px 15px 0 0;
}

.right-side-container .powiadomienia-container .powiadomienia-ico {
  color: #b5b5b5;
  float: right;
  font-size: 23px;
  margin: 27px 10px 0 0;
}


.czat-wiadomosci { float:left; clear:both; padding: 0 0 20px 0; }
.czat-wiadomosci h1 { font-family: open_sansregular; font-size: 14px; margin: 20px 0 0 0;padding: 0;}
.czat-wiadomosci p { font-size: 12px;}
.msg-time {color:#b5b5b5;}

#czat input[type=text] {
  width: 100%;
  color: #b2b2b2;
  font-size: 14px;
  line-height: 18px;
  height: 35px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0 20px 0 20px;
  margin: 35px 0 0 0;
  border: 1px solid #f5f5f5;
}

#czat { float: left; position: relative; clear:both;margin: 0 15px 0 15px; z-index: 100000;}
#czat input[type="checkbox"] { display:none; }
#czat input[type="checkbox"] + label span { display:inline-block; width:28px; height:22px; margin:0px 7px 0 0; vertical-align:middle; background:url(/CMS/resources/images/checkbox.png) left top no-repeat;cursor:pointer;}
#czat input[type="checkbox"]:checked + label span {
    background:url(/CMS/resources/images/checkbox.png) -55px top no-repeat;
}
.czat-container {
  height: 400px;
  position: absolute;
  right: 25px;
  top: 80px;
  background-color: #FFF;
  margin:0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
  z-index: 99999;
  
}

@media screen and (max-width: 768px) {
  .right-side-container {
    float: right;
    margin: 0 15px 0 0;
  }

  .right-side-container .wiadomosci-container {
    float: right;
    height: 80px;
    padding: 0 10px 0 10px;
  }

  .right-side-container .wiadomosci-container .wiadomosci-ico {
    color: #b5b5b5;
    float: right;
    font-size: 23px;
    margin: 26px 0 0 0;
  }


}
.breadcrumb-bar {
  background-color: #fbfbfb;
  border-bottom: 1px solid #95c37c;
  height: 55px;
}
.wyszukiwarka-ico {float:left;margin: 18px 7px 0 8px;padding: 0;font-size: 19px;color:#cfcfcf;}

/* Wyszukiwarka */


input.wyszukiwarka {
    width: 70%;
    float: left;
    font-family: open_sanslight;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    background-color: #fbfbfb;
    color: #cfcfcf;
    height: 50px;
    margin: 1px 0 0 0;
    padding: 0 0 0 0;
    border:0;
    outline: 0;
}

input.wyszukiwarka:focus {
    border:0;
}

input.wyszukiwarka::-webkit-input-placeholder {
    color: #cfcfcf;
}

input.wyszukiwarka:-moz-placeholder {
    color: #cfcfcf;
}

input.wyszukiwarka:-ms-input-placeholder {
    /* IE10+ */
    color: #cfcfcf;
}
.data-table-container table {}

.data-table-table tr th { font-size:14px; font-family: open_sanslight; padding: 18px 0 18px 0; background-color: #ebebeb;color:#acacac;border-bottom:1px solid #e6e6e6;}
.data-table-table tr th {}

.data-table-table tr td {padding: 11px 0 10px 0; font-size: 13px;}
.data-table-table a {color:#acacac;}

.wszystkie-pola {
    float:left;
    clear:both;
}
.wszystkie-pola div {
    float:left;
    margin: 10px 0 0 0;
}

.table-container{
    display:table;
    width:100%;
    border-collapse: collapse;
    }

.archive-table { font-size: 15px; color: #acacac; background-color: #FFF; text-align: left; border-collapse: collapse; width: 100%; }
.archive-table th { background-color: #9ccc83; font-size: 15px; padding: 18px 0 18px 17px; color:#678258; border-right: 1px solid #95c37c; }

.archive-table tr:nth-child(odd) {background-color: #fafafa;}
.archive-table .selectedObject {background-color: #e9e9e9 !important;}
.archive-table tr:hover { background-color: #eeeeee !important; cursor: pointer; }

.genericTable { font-size: 15px; color: #acacac; background-color: #FFF; text-align: left; border-collapse: collapse; width: 100%; }

tr {}
    .selectedTableRow {
        background-color: #e9e9e9 !important;
    }
.genericTable tr:hover { background-color: #eeeeee !important; cursor: pointer; }
.genericTable tr:last-child { border-bottom: 1px solid #e0e0e0;}
.genericTable tr:nth-child(odd) {background-color: #fafafa;}
.genericTableHeader th {}
th { background-color: #9ccc83; font-size: 15px; padding: 18px 0 18px 17px; color:#678258; border-right: 1px solid #95c37c; }

th:last-child {border-right: 0px;}
tr td:last-child {border-right:0px;}

th:hover { background-color: #8fb87a; }
td { font-size:13px; padding: 11px 17px 10px 17px; border-right: 1px solid #e0e0e0; }


.table-header { border: 0px none; background-color: #9ccc83; }
.table-header a { font-size:14px; font-family: open_sanslight; padding: 18px 0 17px 0;color:#678258; }
    
    .numer {
        padding: 0 17px 0 17px;
        text-align: center;
        width: 24px;
        max-width: 24px;
        min-width: 24px;

    }
    .numer-header {
        text-align: center;
        padding: 0 17px 0 17px !important;
        width: 24px;
        max-width: 24px;
        min-width: 24px;

    }
     .pageMax-tekst {margin: 23px 15px 0 0;float:right;}
     .pageMax {float:right;margin: 20px 25px 0 0;}
     
     .logout-container {float:right;}
     
     input.logout-button {
         padding: 0 0 0 2px;
  width: 90px;
  height: 36px;
  margin: 19px 0 0 1px;
  font-size: 14px;
  font-weight: 700;
  font-smooth: auto;
  color: #FFF;
  cursor: pointer;
  background: #f9aa8b;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

input.logut-button:hover, input.logout-button:active {
  background-color: #ef8e71;
}
.task-container {
    width:100%;
    float:left;
    clear:both;
    margin-bottom: 2px;
}
.message-container {
    background-color: #FFF;
    padding-bottom: 57px;
    float:left;
  
}
.message-form-container {
    float: left;
    margin: 15px 0 0 0;
}
.message-form-text {
    
    margin: 30px 0 0 0;
}

.message-form-container label { width:100%;padding: 0; marign: 0; display: block; }
.message-form-container textarea { width: 100%; border: 1px solid #333; padding: 4px; }
.the-fix { padding-right: 10px; }

.textarea-container {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.dane-container {
    background-color: #FFF;
   
    float:left;

}

.avatar-container {
    margin: 15px 30px 0 30px;
    float:left;
}
.avatar-form-container {
    float:left;
    clear:both;
    margin: 20px 0 0 0;
}
.twoje-dane-container {
    margin: 15px 0 0 50px;
    float:left;
}
.user-image-container-big img {
    
  float: left;
  margin: 0;
  padding: 0;
  background-color: #5c6672;
  border-radius: 50%;
  width: 200px;
  height: 200px;
    
}
.user-image-container-big {
    margin: 20px 0 0 35px;
    float:left;
    clear:both;
}
.json-buttons {
    float:left;
    clear: left;
    margin: 20px 0 0 0;
    
}
.dane-container  {
    padding-bottom: 23px;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-radius: 15px;
}
.message-container {
     background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-radius: 15px;
    
}
