// main variables //


$main-bg-color: #eeeeee;
$main-green: #9ccc83;
$sidebar-bg: #5c6672;
$sidebar-hover: #616b77;




body {
  font-family: open_sansregular;
  }

.wrapper, .row {
  height: 100%;
  margin-left:0;
  margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: auto;
  *zoom:1;
}


.box {
  bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color:$sidebar-bg;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}


#main { background-color:$main-bg-color; padding: 0 0 0 0; }
.row .content-container p { margin: 25px 25px 25px 25px; }




.notification-bar { background-color: #fff; border-bottom:1px solid #f5f5f5; height: 80px; }

.magic-button { float:left; margin: 28px 0 0 25px; }
.magic-button .icon-bar {  display: block; margin: 3px 0 0 0; width: 18px; height: 2px; background-color: #cccccc; border-radius: 1px; }

// .left-side container

.left-side-container { float:left; margin: 0 0 0 25px; }
.left-side-container .wyszukiwarka-container { }

// end .left-side container

// .right-side-container

.right-side-container { float:right; margin: 0 25px 0 0; }
.right-side-container .wiadomosci-container { float:right; height: 80px; padding: 0 15px 0 15px; }
.right-side-container .wiadomosci-container:hover { background-color: #fbfbfb; cursor: pointer; }
.right-side-container .wiadomosci-container .wiadomosci-text { color:#b5b5b5; float:right; margin: 28px 0 0 0; }
.right-side-container .wiadomosci-container .wiadomosci-ico { color:#b5b5b5; float:right; font-size:23px; margin: 26px 10px 0 0; }

.right-side-container .powiadomienia-container { float:right; height: 80px; padding: 0 0 0 15px; }
.right-side-container .powiadomienia-container:hover { background-color: #fbfbfb; cursor: pointer; }
.right-side-container .powiadomienia-container .powiadomienia-text { color: #b5b5b5; float:right; margin: 28px 15px 0 0; }
.right-side-container .powiadomienia-container .powiadomienia-ico { color:#b5b5b5; float:right; font-size:23px; margin: 27px 10px 0 0; }


.chat-container {position: absolute; right: 40px;top:80px;width: 100%;height: 100%;background-color: #FFF;border:1px solid #000;}

// end .right-side-container



@media screen and (max-width: 768px) {

  .right-side-container { float:right; margin: 0 15px 0 0; }
  .right-side-container .wiadomosci-container { float:right; height: 80px; padding: 0 10px 0 10px; }
  .right-side-container .wiadomosci-container .wiadomosci-ico { color:#b5b5b5; float:right; font-size:23px; margin: 26px 0 0 0; }
  .right-side-container .powiadomienia-container { float:right; height: 80px; padding: 0 10px 0 10px; }
  .right-side-container .powiadomienia-container .powiadomienia-ico { color:#b5b5b5; float:right; font-size:23px; margin: 27px 0 0 0; }

}







.breadcrumb-bar { background-color: #fbfbfb; border-bottom: 1px solid #e7eaec; height: 55px; }
